@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Poppins', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    height: 100vh;
    background-color: lightpink;
    background-image: linear-gradient(to right top, #051937, #1b2b59, #393d7d, #5c4ea0, #845ec2);
    display: flex;
}

.wrapper {
    width: 70%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    border-radius: 25px;
    color: #845EC2;
    position: relative;
}

.header {
    text-align: center;
    margin: 1em 0;
    margin-bottom: .5em;
    font-size: 2em;
}

.content {
    height: calc(100% - 240px);
    display: grid;
    padding: 0 3em 3em 3em;
}


#control {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5em 4em;
    margin-top: 2em;
    background-color: #051937;
    border-radius: 0 0 25px 25px;
}

#progressBar {
    width: 100%;
}


.button {
    display: flex;
}

.button > label {
    margin: auto;
    padding-top: 1em;
    cursor: pointer;
    z-index: 2;
}

.volume {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 4em 2.5em 4em;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

#social {
    margin: 0 .5em;
    width: 30px;
}

#play {
    cursor: pointer;
}

#volume {
    margin: 0 5px;
}

#volumeBarWrapper {
    font-size: 1.5em;
}

#version {
    color: white;
    font-size: 15px;
}

progress {
    -webkit-appearance: none;
}

progress::-webkit-progress-bar-value {
    -webkit-appearance: none;
    background: orangered;
  }





#musicList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    overflow: scroll;
    gap: 1em;
    scroll-behavior: smooth;


    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#musicList::-webkit-scrollbar {
  display: none;
}

.music_card {
    width: 200px;
    height: 150px;
    background-color: #051937;
    border: 1px solid #845EC2;
    margin: 1.5em;
    cursor: pointer;
    place-self: center;
    background-size: cover;
    overflow: hidden;
    transition: box-shadow .5s ease-out;   
}


.music_card > .description {
    transform: translateY(-100%);
    width: 198px;
    height: 148px;
    pointer-events: none;
    color: purple;
    font-size: 30px; 
    display: grid;
    place-content: center;
    background-color: rgba(5, 25, 55, 0.98); 
    transition: all .75s ease;   
}

.music_card:hover > .description {
    transform: translateY(0%);
    width: 200px;
    height: 150px;
}





.glow {
    border: none;

    -webkit-box-shadow: 1px 1px 23px 3px rgba(132,94,194,1);
    -moz-box-shadow: 1px 1px 23px 3px rgba(132,94,194,1);
    box-shadow: 1px 1px 23px 3px rgba(132,94,194,1);
}





/*      list songs div :    Only activates when we click on certain artist.     */

.listSongs {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #845EC2;
    color: #051937;
    font-size: 1.5em;
    z-index: 10;

    transform: translateX(100%);
    transition: all .75s ease-out;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5em;
    align-items: center;
    text-align: center;
    overflow-x: scroll;
    padding: 2em;
}

.down {
    transform: translateX(0%);
}

.song {
    cursor: pointer;
    margin-bottom: 1.2em;
}

#closeButton {
    cursor: pointer;
    z-index: 15;
    margin-bottom: 2em;
}






@media screen and (max-width: 900px) {
    .wrapper {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    #control {
        position: fixed;
        border-radius: 0;
    }
}

@media screen and (max-width: 650px) {
    .volume {
        margin: 1em 2em;
    }

    .social {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    #social:first-child {
        margin-right: auto;
    }

    #volumeBarWrapper {
        display: none;
    }

    .content {
        padding: 0;
    }


    #play {
        width: 50px;
    }
}